<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petriss</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/cstyle.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" />

    <link href="~/Content/petrisscustomstyle.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <h5>Petriss-Surgical Instrument Documentation and Certification</h5>
            </div>
           
        </div>
    </div>

    <aside>
        <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="nav-side-menu">
                <div class="brand"><img src="~/Images/PetrissLogo.png" style="border: none" /></div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="collapse" data-target="#Administrator" class="collapsed active">
                            <a href="#"><i class="fa fa-gift fa-lg"></i>Administrator<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Administrator">
                            <li class="active"><a href="~/Vendor">Vendor</a></li>
                            <li><a href="#">General</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Lock Users</a></li>
                            <li><a href="#">Clean Database</a></li>
                            <li><a href="#">Create Admin</a></li>
                        </ul>
                        <li>
                            <a href="~/home">
                                <i class="fa fa-dashboard fa-lg"></i> Dashboard
                            </a>
                        </li>
                        <li data-toggle="collapse" data-target="#products" class="collapsed active">
                            <a href="#"><i class="fa fa-gift fa-lg"></i> Daily Tasks <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                            <li class="active"><a href="~/Instruments">Create Instrument</a></li>
                            <li><a href="#">General</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Lock Users</a></li>
                            <li><a href="#">Clean Database</a></li>
                            <li><a href="#">Create Admin</a></li>
                        </ul>
                        <li>
                            <a href="~/Instrument/">
                                <i class="fa fa-user fa-user"></i> Instrument
                            </a>
                        </li>
                      
                        <li>
                            <a href="~/Vendor/">
                                <i class="fa fa-user fa-globe"></i> Vendor
                            </a>
                        </li>
                        <li>
                            <a href="~/User/">
                                <i class="fa fa-user fa-user"></i> Users
                            </a>
                        </li>
                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                            <a href="~/Report/"><i class="fa fa-globe fa-lg"></i> Reports <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="service">
                            <li>Report 1</li>
                            <li>Report2</li>
                            <li>Report3</li>
                        </ul>
                        <li>
                            <a href="~/ActivityLog ">
                                <i class="fa fa-user fa-user"></i> Activity Log
                            </a>
                        </li>

                        <li style="height:40px!important;"></li>

                        <li>
                      
                            <a href="/Account/LogOff" style="color:#ff0000;">
                                <i class="fa fa-user glyphicon-fast-backward"></i> Sign Out
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </aside>
    <div class="col-lg-12 body-content">
        @RenderBody()
     
    </div>
    <div class="clearfix"></div>
    <footer>
        <p>&copy; @DateTime.Now.Year -Petriss,Inc all rights reserved</p>
    </footer>
   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
